name: mdi_view
description: "flutter widget for providing multi document support for flutter app"
version: 0.0.2
homepage: https://github.com/AhmadTomi/mdi-view-flutter.git

environment:
  sdk: ">=3.8.0 <4.0.0"
  flutter: ">=3.32.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

